@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

html,
* {
  box-sizing: border-box;
  /* height: 100%; */
  /* overflow: hidden; */
  overscroll-behavior: none;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overscroll-behavior: none;
  margin: 0px;
  padding: 0px;
  cursor: default;
  user-select: none;
  /* height: 100%; */

  overflow: hidden;
}

.react-draggable {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #18a0fb;
  /* z-index: 10; */
}

.react-draggable[data-selected="false"] {
  border: 1px solid transparent;
}

.MyCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  inset: 0;
  background: #e5e5e5;
  overflow: hidden;
  overscroll-behavior: none;

  /* transform: rotate(45deg); */
  /* z-index: 0; */
}

.DeselectionArea {
  position: absolute;
  inset: 0;
  background: transparent;
}

.SelectionDimensions {
  position: absolute;
  bottom: -56px;
  color: white;
  background: #18a0fb;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  border-radius: 7px;
}

.SelectionDimensions[data-selected="false"] {
  opacity: 0;
}

.CustomHandle {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: white;
  border: 1px solid #18a0fb;
  margin: 4px;
}

.CustomHandle[data-selected="false"] {
  opacity: 0;
}

.CustomHandleVertical {
  position: absolute;
  left: calc(50% - (24px / 2));
  width: 24px;
  height: 10px;
  background: white;
  border: 1px solid #18a0fb;
}

.CustomHandleVertical[data-selected="false"] {
  opacity: 0;
}

.CustomHandleHorizontal {
  position: absolute;
  top: calc(50% - (24px / 2));
  width: 10px;
  height: 24px;
  background: white;
  border: 1px solid #18a0fb;
}

.CustomHandleHorizontal[data-selected="false"] {
  opacity: 0;
}

.DimensionDivider {
  color: white;
  opacity: 0.5;
  margin: 0 10px;
}

.DimensionWrapper {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  box-sizing: border-box;
  border-radius: 4px;
}

.DimensionWrapper[data-selected="true"] {
  background: white;
  color: #18a0fb;
}

.FrameLabel {
  position: absolute;
  left: 0;
  top: -26px;
  font-size: 15px;
  line-height: 145%;
  color: #18a0fb;
}

.FrameLabel[data-selected="false"] {
  color: rgba(0, 0, 0, 0.3);
}

.FakeToolbar {
  position: absolute;
  right: 12px;
  height: 335px;
  top: 100px;
  /* top: calc(50% - (335px / 2)); */
}

.DimensionInputWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -164px;
  left: 0px;
  min-width: 100px;
  min-height: 100px;
  background: black;
  padding: 12px;
  border-radius: 12px;

  z-index: 100;
}

.DimensionInputWrapper[data-dimension-input-active="false"] {
  display: none;
}

.RecentsWrapper {
  display: flex;
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  margin: 4px 0 8px 0;
}

.RecentItem {
  background: #2c2c2c;
  border-radius: 4px;
  padding: 8px;
  flex: none;
  flex-grow: 0;
  margin: 0px 8px 0 0;
}

.RecentItem:last-child {
  margin: 0;
}

.RecentLabel {
  font-size: 11px;
  line-height: 145%;

  letter-spacing: 0.005em;

  color: #eeeeee;

  opacity: 0.8;
}

.InputField {
  max-width: 196px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: transparent;
  align-items: center;
  appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.32);
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  margin: 4px 0 0 0;
  color: white;
}

/* .InputField::placeholder {
  color: red;
} */

*:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.12);
}

.InputSubmitButton {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 100;
  position: absolute;
  right: 22px;
  width: 33px;
  height: 33px;
  bottom: 22px;
  border-radius: 4px;
  appearance: none;
  background: #18a0fb;
  border: none;
  color: white;
  padding: 0;
}

.InputSubmitButton[data-value=""] {
  display: none;
}

.handleArea {
  width: 100%;
  height: 100%;
  background: transparent;
}

.FakeHeader {
  display: flex;
  align-items: center;
  position: absolute;
  height: 44px;
  left: 0;
  top: 0;
  right: 0;
  background: #2c2c2c;
}

.FakeHeaderRight {
  position: absolute;
  right: 0;
}

.FakeHeaderCenter {
  position: absolute;
  left: calc(50vw - (207px / 2));
}

.FakeLayersPanel {
  position: absolute;
  left: 24px;
  top: 98px;
  border-radius: 13px;
}

.FakeDesignPanel {
  position: absolute;
  left: 24px;
  top: 216px;
  border-radius: 13px;
}
