@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

html,
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overscroll-behavior: none;
  margin: 0px;
  padding: 0px;
  cursor: default;
  user-select: none;
  overflow: hidden;
}

.react-draggable {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #18a0fb;
}

.MyCanvas {
  position: absolute;
  inset: 0;
  background: #e5e5e5;
  overflow: hidden;
  /* transform: rotate(45deg); */
}

.SelectionDimensions {
  position: absolute;
  bottom: -56px;
  color: white;
  background: #18a0fb;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  border-radius: 7px;
}

.CustomHandle {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: white;
  border: 1px solid #18a0fb;
  margin: 4px;
}

.CustomHandleVertical {
  position: absolute;
  left: calc(50% - (24px / 2));
  width: 24px;
  height: 10px;
  background: white;
  border: 1px solid #18a0fb;
}

.CustomHandleHorizontal {
  position: absolute;
  top: calc(50% - (24px / 2));
  width: 10px;
  height: 24px;
  background: white;
  border: 1px solid #18a0fb;
}

.DimensionDivider {
  color: white;
  opacity: 0.5;
  margin: 0 10px;
}

.DimensionWrapper {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  box-sizing: border-box;
  border-radius: 4px;
}

.FrameLabel {
  position: absolute;
  left: 0;
  top: -26px;
  font-size: 15px;
  line-height: 145%;
  color: #18a0fb;
}
